.DistributionChart {
    background: white;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 400px; /* Минимальная высота контейнера (пример) */
}

.chart-container {
    position: absolute;
    min-height: 300px; /* Минимальная высота контейнера */
    min-width: 600px; /* Минимальная ширина контейнера */
    text-align: center;
}

.chart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
