.DistributionChart {
    background: white;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    position: relative;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 400px; /* Минимальная высота контейнера (пример) */
}

.chart-container {
    position: absolute;
    min-height: 300px; /* Минимальная высота контейнера */
    min-width: 600px; /* Минимальная ширина контейнера */
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.chart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Заполнить доступное пространство внутри .chart-container */
    max-width: 50%; /* Установите максимальную ширину по вашему усмотрению */
}
