.MainGA {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}

 .FirstContainer {
     display: flex;
     justify-content: space-between;
 }

 .SelectionFunction {
     border: 2px solid #000; /* Толщина рамки и её цвет */
     border-radius: 10px; /* Радиус скругления углов */
     padding: 10px; /* Отступ внутри блока */
 }

.ps-counter {
     border: 2px solid #000; /* Толщина рамки и её цвет */
     border-radius: 10px; /* Радиус скругления углов */
     padding: 10px; /* Отступ внутри блока */
 }

.cons-container {
    border: 2px solid #000; /* Толщина рамки и её цвет */
    border-radius: 10px; /* Радиус скругления углов */
    padding: 10px; /* Отступ внутри блока */
}