.MainGA {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}

 .FirstContainer {
     display: flex;
     justify-content: space-between;
 }

 .SelectionFunction {
     padding: 10px; /* Отступ внутри блока */
 }

.ps-counter {
     padding: 10px; /* Отступ внутри блока */
 }

.cons-container {
    padding: 10px; /* Отступ внутри блока */
}

.crossover-opt {
    padding: 10px; /* Отступ внутри блока */
}

.precision-window {
    padding: 10px; /* Отступ внутри блока */
}

.array-random-function {
    padding: 10px; /* Отступ внутри блока */
}

.test-function-window {
    padding: 10px; /* Отступ внутри блока */
}

.mutation-window {
    padding: 10px; /* Отступ внутри блока */
}

.default {
    padding: 10px; /* Отступ внутри блока */
}

.inversion-window {
    padding: 10px; /* Отступ внутри блока */
}

.epoch-window {
    padding: 20px; /* Отступ внутри блока */
    flex-direction: row-reverse;
}

.stop-criteria-window {
    padding: 20px; /* Отступ внутри блока */
}

.submit-button {
    padding: 20px;
}

.FirstContainer {
    border: 2px solid #000; /* Толщина рамки и её цвет */
    border-radius: 10px; /* Радиус скругления углов */
    padding: 20px; /* Отступ внутри блока */
}

.res-table {
 text-align: center;
}

