.container {
    color: cyan;
    background: darkblue;
    text-align: center;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    flex-direction: column;
    margin-bottom: 20px;
}